/* Global style */
body {
    font-family: sans-serif;
}

/* Header */
header {
    padding: 2rem;
    background-color: #f4f4f4;
    width: 95%;
}

/* Main Styles */
main {
    padding: 2rem;
}

.products {
    display: grid;
    gap: 5rem;
}

.product {
    border-radius: 1rem;
    background-color: #ebebeb;
    overflow: hidden;
}

.product-image-box {
    height: 25rem;
}

.product-image-box img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.product-content-box {
    padding: 2rem;
    display: grid;
    gap: 1rem;
}

.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.product-price p {
    font-weight: 700;
}

.product-price button {
    font-weight: 700;
    background-color: blue;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    border: none;
    color: white;
    cursor: pointer;
}

/* Footer Styles */
footer {
    padding: 2rem;
    background-color: #ebebeb;
    text-align: center;
    font-size: 0.8rem;
}

/* ============================================= */

/* Reponsive styles for Tablet Screens */
@media screen and (min-width: 768px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
    footer {
        display: flex;
        justify-content: space-between;
        text-align: left;
        gap: 1rem;
    }
    footer section {
        display: flex;
        gap: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}